[submodule "configs/soci"]
	path = configs/soci
	url = git@github.com:johnbie/soci-dotfile-config
[submodule "configs/notes"]
	path = configs/notes
	url = git@github.com:johnbie/notes-dotfile-config
[submodule "configs/van"]
	path = configs/van
	url = git@github.com:johnbie/van-dotfile-config
