[user]
	email = johnqwerty.lee1@gmail.com
	name = John Lee
[branch]
	sort = committerdate
[alias]
	kick = commit --allow-empty -m \"kick pipe\" && git push
	pushf = push --force-with-lease
	pushff = push -f
[push]
	autoSetupRemote = true
