caja
chromium
cinnamon
cinnamon-session
Code
Cypress
dconf
discord
Docker Desktop
github-copilot
google-chrome
ibus
insight-nodejs
Insomnia
JetBrains
libreoffice
menus
mimeapps.list
nemo
nvim/.netrwhist
nvim/plugged
nvm
obsidian
pulse
Slack
thefuck/__pycache__
xed
zoom.conf
zoomus.conf

