caja
cef_user_data
chromium
cinnamon
cinnamon-session
Code
Cypress
dconf
discord
Docker Desktop
enchant
evolution
github-copilot
gtk-3.0/bookmarks
google-chrome
ibus
insight-nodejs
Insomnia
JetBrains
libreoffice
menus
mimeapps.list
nemo
nvim/.netrwhist
nvim/plugged
nvm
obsidian
pulse
Slack
sticky
systemd
thefuck/__pycache__
xed
nodemon.json
QtProject.conf
zoom.conf
zoomus.conf

