caja
chromium
cinnamon
cinnamon-session
Code
Cypress
dconf
discord
Docker Desktop
github-copilot
google-chrome
ibus
Insomnia
JetBrains
libreoffice
menus
mimeapps.list
nemo
obsidian
pulse
Slack
thefuck/__pycache__
xed
zoom.conf
zoomus.conf

